*,
::before,
::after {
    margin: 0;
    box-sizing: border-box;
}

.tree-node {
    position: relative;
    margin: 10px 0;
    padding-left: 20px;
}

.node-header {
    cursor: pointer;
    color: white;
    font-weight: bold;
    background: #29292c;
    border-radius: 0.7rem;
    overflow: hidden;
    width: fit-content;
    padding: 10px;
    font-family:
        "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 20px;
    color: rgb(0, 147, 238);
}

.node-children {
    position: relative;
    margin-top: 10px;
    padding-left: 20px;
}

.node-children::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 8px;
    border-left: 2px solid #ccc;
}

.tree-node::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 20px;
    border-top: 2px solid #ccc;
}

.node-details {
    margin-top: 5px;
    width: 100%;
}

.node-info p {
    color: #ffffff;
    padding: 4px 8px;
    font-size: 16px;
    font-weight: 600;
}

body {
    font-family: Arial, sans-serif;
    background: #1e1e1e;
}

.loader {
    display: flex;
    align-items: center;
}

.bar {
    display: inline-block;
    width: 3px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    animation: scale-up4 1s linear infinite;
}

.bar:nth-child(2) {
    height: 35px;
    margin: 0 5px;
    animation-delay: 0.25s;
}

.bar:nth-child(3) {
    animation-delay: 0.5s;
}

@keyframes scale-up4 {
    20% {
        background-color: #ffff;
        transform: scaleY(1.5);
    }

    40% {
        transform: scaleY(1);
    }
}

.center-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
}

.notification {
    display: flex;
    flex-direction: column;
    isolation: isolate;
    position: relative;
    width: fit-content;
    height: auto;
    background: #29292c;
    border-radius: 1rem;
    overflow: hidden;
    font-family:
        "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 16px;
    --gradient: linear-gradient(to bottom, #2eadff, #3d83ff, #7e61ff);
    --color: #32a6ff;
}

.notification:before {
    position: absolute;
    content: "";
    inset: 0.0625rem;
    border-radius: 0.9375rem;
    background: #18181b;
    z-index: 2;
}

.notification:after {
    position: absolute;
    content: "";
    width: 0.25rem;
    inset: 0.65rem auto 0.65rem 0.5rem;
    border-radius: 0.125rem;
    background: var(--gradient);
    transition: transform 300ms ease;
    z-index: 4;
}

.notification:hover:after {
    transform: translateX(0.15rem);
}

.notititle {
    color: var(--color);
    padding: 0.65rem 0.25rem 0.4rem 1.25rem;
    font-weight: 500;
    font-size: 1.1rem;
    transition: transform 300ms ease;
    z-index: 5;
}

.notification:hover .notititle {
    transform: translateX(0.15rem);
}

.notibody {
    color: #99999d;
    padding: 0 1.25rem;
    width: fit-content;
    transition: transform 300ms ease;
    z-index: 5;
}

.notification:hover .notibody {
    transform: translateX(0.25rem);
}

.notiglow,
.notiborderglow {
    position: absolute;
    width: 20rem;
    height: 20rem;
    transform: translate(-50%, -50%);
    background: radial-gradient(
        circle closest-side at center,
        white,
        transparent
    );
    opacity: 0;
    transition: opacity 300ms ease;
}

.notiglow {
    z-index: 3;
}

.notiborderglow {
    z-index: 1;
}

.notification:hover .notiglow {
    opacity: 0.1;
}

.notification:hover .notiborderglow {
    opacity: 0.1;
}

.note {
    color: var(--color);
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 0.9rem;
    width: 75%;
}
